<div class="container-fluid bg-white p-0 m-0">
  <div class="row w-100 p-0">
    <div class="col-8 p-5 pt-1">
      <div class="w-100 p-5 ps-0 pb-1 d-flex justify-content-start">
        <h2>Contattaci:</h2>
      </div>
      <form (ngSubmit)="onSubmit()" class="d-flex flex-column mx-auto">
        <div class="py-5 d-flex flex-column justify-content-start align-items-start">
          <label for="subject">Oggetto:</label>
          <input type="text" id="subject" name="subject" class="w-50" [(ngModel)]="emailRequest.subject" required>
        </div>
        <div class="pb-5 d-flex flex-column justify-content-start align-items-start">
          <label for="message">Messaggio:</label>
          <textarea id="message" name="message" class="w-100" [(ngModel)]="emailRequest.message" required></textarea>
        </div>
        <div class="d-flex justify-content-end">
          <button type="submit" class=" btn w-25 text-black">Invia Email</button>
        </div>

      </form>
    </div>
    <div class="col-4 p-0 d-flex justify-content-end">
      <img src="https://i.pinimg.com/474x/2a/f7/1b/2af71bd1d4d9b04ee29906749443335e.jpg" alt="foto call center">

    </div>
  </div>

</div>