<footer class="footer bg-black text-white mb-0">
  <div class="container-fluid text-center">
    <div class="row d-flex">
      <div class="col-4 p-5 dots" id="dot1">
        <h5 class="fw-semibold mb-3">About Us</h5>
        <a class="btnInventory text-white text-decoration-none" [routerLink]="['/dealer']" routerLinkActive="active"
          id="suDiNoi">
          Su di noi
        </a>
      </div>
      <div class="col-4 p-5 dots" id="dot2">
        <h5 class="fw-semibold mb-3">Contact Us</h5>
        <p>Email: <a href="mailto:concessionario.pcb@gmail.com"
            class="text-white text-decoration-none">concessionario.pcb@gmail.com</a></p>
        <p>Telefono: 06 54321</p>
        <p>Indirizzo: Via Roma, 1, ROMA RM</p>
      </div>

      <div class="col-4 p-5 dots" id="dot3">
        <h5 class="fw-semibold mb-3">Social</h5>
        <div class="w-50 d-flex flex-column mx-auto">
          <a href="https://www.instagram.com/lucian_2301_/" target="_blank" class="btnInstagram text-decoration-none social"><i
              class="bi bi-instagram"></i> Instagram</a>
          <a href="https://github.com/OpricaLucianAndrei" target="_blank"
            class="btnInventory text-white text-decoration-none social"><i class="bi bi-github"></i> Github</a>
        </div>



      </div>
    </div>
    <div class="row p-5 d-flex justify-content-around">
      <img src="../../../assets/images/footer.png" alt="footer" style="width: 100%;">

    </div>
  </div>
  <div class="text-center p-4">
    <p>&copy; 2024 Prestige Car Boutique. All rights reserved.</p>
  </div>
</footer>