<div class="modal">
    <div class="modal-content">
        <div class="w-25 mx-auto">
            <img src="../../../assets/images/1.png" class="rounded-5" alt="logo" style="width: 100%;">
        </div>

        <h1 mat-dialog-title class="text-black">Prestige Car Boutique</h1>
        <div mat-dialog-content class="text-black">{{ data.message }}</div>
        <div mat-dialog-actions>
            <button mat-button (click)="onClose()" class="btn text-black mx-auto">OK</button>
        </div>
    </div>
</div>