.btn {
    font-size: 0.8rem;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: black;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: black;
    transition: 0.5s ease;
}

.btn:hover {
    color: white;
    transition-delay: 0.5s;
}

.btn:hover::before {
    width: 100%;
}

.btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: black;
    transition: 0.4s ease;
    z-index: -1;
}

.btn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
}
.form {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
}

.form button {
    align-self: flex-end;
}

.flex-column > label {
    color: #151717;
    font-size: 1rem;
    font-weight: 600;
}
.inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
}

.input:focus {
    outline: none;
}

.inputForm:focus-within {
    border: 1.5px solid #2d79f3;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.flex-row > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
}
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 10px;
    border: 1px solid black;
}

.vertical-scroll {
    overflow-y: auto;
    white-space: nowrap;
    max-height: 600px;

  }

  .vertical-scroll .d-flex {
    display: flex;
  }

  .vertical-scroll .col-6 {
    flex: 0 0 auto;
    white-space: normal;
  }