.container-fluid {
    font-family: "Caviar Dreams";
    letter-spacing: 2px;
}

.logoSection {
    width: 5vw;
}

@media (max-width: 992px) {
    .logoSection {
        width: 10vw;
    }
}

#logoPCB{
    scale: 0.8;
}

p{
    font-size: 0.8rem;
}

#myVideo {
    
    width: 50vw;
    margin: 0 auto;
    transition:
        opacity 1s ease,
        visibility 1s ease;
    opacity: 1;
    visibility: visible;
}

@media (max-width: 1440px) {
  #myVideo{
    width: 65vw !important;
  }
}

@media (max-width: 772px) {
  #myVideo{
    width: 80vw !important;
  }
}

.w-50{
  width: 50% !important;
}
@media (max-width: 1440px) {
  .w-50{
    width: 65% !important;
  }
}

@media (max-width: 772px) {
  .w-50{
    width: 80% !important;
  }
}

.video-container {
    width: 100%;
    height: 45vh;
    position: relative;
    overflow: hidden;
    background: rgb(255, 255, 255);
}

@media (max-width: 1440px) {
  .video-container{
    height: 35vh !important;
  }
}

@media (max-width: 772px) {
  .video-container{
    height: 20vh !important;
  }
}

#contenitoreFrase{
    position: absolute;
    top: 35%;
    z-index: 1000;
}

.rettangoli {
    width: 100%;
    height: 15%;
}

#rettangolo1 {
    position: absolute;
    top: 0;
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.801733193277311) 35%, rgba(0,0,0,1) 100%);
}

.full-width-text {
    width: 100%;
    text-align: justify;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
    color: black;
}

.btn {
    font-size: 0.8rem;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: black;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
  }
  
  .btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: black;
    transition: 0.5s ease;
  }
  
  .btn:hover {
    color: white;
    transition-delay: 0.5s;
  }
  
  .btn:hover::before {
    width: 100%;
  }
  
  .btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: black;
    transition: 0.4s ease;
    z-index: -1;
  }
  
  .btn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
  }

  #inventario{
    width: 50%;
    border: 1px solid black;
    position: absolute;
    bottom: 0;
    left: auto;
    right: auto;
  }

  @media (max-width: 1440px) {
    #inventario{
      width: 65% !important;
      bottom: 15px;
    }
  }
  
  @media (max-width: 772px) {
    #inventario{
      width: 95% !important;
      bottom: -70px;
    }
  }

//   h5{
//     font-size: 0.8rem;
//   }

  div>a>p{
    font-size: 0.5rem;
  }

  #inventario>h2{
    font-size: 1rem;
  }
 

  #inventario>a{
    font-size: 1rem;
  }
 
 

  @media (max-width: 1440px) {
    #inventario>a{
      font-size: 0.8rem;
    }
  }
  
  @media (max-width: 772px) {
    #inventario>a{
      font-size: 0.5rem;
    }
  }


  #inventario>p{
    font-size: 0.9rem;
  }
 
 

  @media (max-width: 1440px) {
    #inventario>p{
      font-size: 0.8rem;
    }
  }
  
  @media (max-width: 772px) {
    #inventario>p{
      font-size: 0.5rem;
    }
  }

  .testoServizi{
    font-size: 0.7rem;
    
  }

  @media (max-width: 1440px) {
    .testoServizi{
      font-size: 0.6rem;
    }
  }
  
  @media (max-width: 772px) {
    .testoServizi{
      font-size: 0.5rem;
    }
  }

  .three-columns {
    column-count: 3;
    column-gap: 40px; 
    column-rule: 1px solid #000;
}


@media (max-width: 1440px) {
  .three-columns{
    column-count: 2;
  }
}

@media (max-width: 772px) {
  .three-columns{
    column-count: 1;
  }
}



.shadow-box {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5); /* Aggiunge un'ombra */
  margin-bottom: 20px;
}

#arrow p {
  visibility: hidden; /* Nasconde inizialmente il testo */
}

#arrow:hover p {
  visibility: visible; /* Rende visibile il testo al passaggio del mouse */
  color: #000; /* Imposta il colore del testo */
}

.imgConc{
  width: 75%;
}
@media (max-width: 1440px) {
  .imgConc{
    width: 90%;
  }
}

@media (max-width: 772px) {
  .imgConc{
    width: 100%;
  }
}

.shadow-box>a>p{
  font-size: 1rem;
}