<section id="veicoliInPrimoPiano" class="bg-white text-center mb-5 position-relative">
    <div class="row w-100 p-5 pb-3 d-flex justify-content-around align-items-center" id="top">
        <img src="../../../assets/images/1White.png" alt="logo" class="mb-3 logoSection">
        <h2 class="mb-5 fs-2 fw-semibold">Veicoli in primo piano:</h2>
    </div>

    <div class="row w-100 d-flex justify-content-around align-items-center mx-auto">
        <div class="card mb-5 p-0" *ngFor="let auto of autos.slice(0, 3)">
            <div class="card__image position-relative d-flex justify-content-center">
                <p class="badge bg-white text-black position-absolute top-0 start-0 p-2 border border-1 border-black rounded-0">
                    {{auto.prezzo.prezzoBase}}€</p>
                <img [src]="auto.immagini[0].url[0]" alt="{{auto.marca}} {{auto.modello}}">
            </div>
            <div class="card__content">
                <h4 class="card__title text-black d-inline">{{auto.marca}} {{auto.modello}}</h4>
                <button class="btn mt-3" *ngIf="user" [routerLink]="['/car-details', auto.id]"
                    routerLinkActive="active">Vedi dettagli</button>
                <p class="card__description text-black mb-2" id="advert" *ngIf="!user">Per maggiori informazioni
                    registrati o fai il login se sei già un nostro cliente</p>
            </div>
        </div>
    </div>
    <div class="row w-100 d-flex justify-content-around align-items-center mb-5 p-3 mx-auto">
        <div class="w-50 mx-auto">
            <button class="btn mt-3 text-black" [routerLink]="['/inventory']" routerLinkActive="active">Vedi
                inventario</button>
        </div>
    </div>
    <div *ngIf="isLoading" class="spinner-overlay">
        <img class="car-movement" src="../../../assets/images/spinner.png" alt="car" style="width: 150px">
    </div>
</section>
<section class="bg-black text-center p-4 pb-5 d-flex flex-column justify-content-center align-items-center">
    <div class="row w-100 p-3 p-lg-5 mx-auto d-flex justify-content-around align-items-center">
        <img src="../../../assets/images/1.png" alt="logo" class="mb-3 logoSection">
        <h2 class="mb-3 fs-2 fw-semibold text-white">Servizi</h2>
    </div>
    <div class="row py-5">
        <div class="col-md-6 col-sm-12 mx-auto d-flex justify-content-end justify-content-sm-center">
            <!-- Mostra il link di prenotazione solo se l'utente è loggato -->
            <button *ngIf="user" class="btnInventory text-white btnSrv"  [routerLink]="['/prenotazioni']"
                routerLinkActive="active">
                <img src="../../../assets/images/calendar-660670_1280.jpg" style="width: 100%; height: 30vh;"
                    alt="calendario"><br><br>
                Prenota appuntamento
            </button>

            <!-- Mostra un pulsante di login se l'utente non è loggato -->
            <button *ngIf="!user" class="btnInventory text-white btnSrv"  (click)="showCustomAlert()">
                <img src="../../../assets/images/calendar-660670_1280.jpg" style="width: 100%; height: 30vh;"
                    alt="calendario"><br><br>
                Prenota appuntamento
            </button>

        </div>
        <div class="col-md-6 mx-auto d-flex justify-content-start justify-content-md-center align-items-center  d-none d-md-flex">
            <p class="text-white w-75">
                Offriamo un servizio di prenotazione test drive per permettervi di vivere l'emozione di guidare l'auto
                dei vostri sogni. Potrete sperimentare direttamente il comfort e le prestazioni del veicolo su strada
                aperta. Il nostro team vi assisterà per garantire un'esperienza indimenticabile e personalizzata.
            </p>

        </div>

    </div>
    <div class="row py-5">
        <div class="col-md-6 mx-auto d-flex justify-content-end justify-content-md-center align-items-center  d-none d-md-flex">
            <p class="text-white w-75">
                Alla Prestige Car Boutique, forniamo una valutazione accurata e trasparente del vostro veicolo usato. Il
                nostro team di esperti vi assicurerà il massimo valore per il vostro attuale veicolo, guidandovi
                attraverso ogni fase del processo con professionalità e competenza.
            </p>

        </div>

        <div class="col-md-6 col-sm-12 mx-auto d-flex justify-content-start justify-content-sm-center">
            <button *ngIf="user" class="btnInventory text-white btnSrv"  [routerLink]="['/valutazione']"
                routerLinkActive="active">
                <img src="../../../assets/images/bmw-2964072_1280.jpg" style="width: 100%; height: 30vh;"
                    alt="auto"><br><br>
                Valutazione del tuo usato</button>
            <button *ngIf="!user" class="btnInventory text-white btnSrv"  (click)="showCustomAlert()">
                <img src="../../../assets/images/bmw-2964072_1280.jpg" style="width: 100%; height: 30vh;"
                    alt="calendario"><br><br>
                Valutazione del tuo usato
            </button>

        </div>
    </div>

</section>
<section class="bg-white text-center mb-5 py-3">
    <div class="row w-100 p-3 p-lg-5 pb-3 d-flex justify-content-around align-items-center mx-auto">
        <img src="../../../assets/images/1White.png" alt="logo" class="mb-3 logoSection">
        <h2 class="mb-3 mb-lg-4 fs-2 fw-semibold text-black">Marchi Partner</h2>
    </div>
    <div class="row py-3">
        <div class="col-lg-12 mx-auto">
            <app-carousel></app-carousel>
        </div>
    </div>

</section>


<section id="infoConcessionario" class="container-fluid pb-5 p-4 bg-black d-flex flex-column justify-content-center align-items-center">
    <div class="row p-4">
        <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
            <img src="../../../assets/images/1.png" alt="logo">
        </div>
        <div class="col-12 col-lg-6 text-white">
            <div class="row w-75 mx-auto" >
                <h2 class="border-bottom border-1 border-white my-3 p-3">Benvenuto a Prestige Car Boutique</h2>
                <p class="p-2">Prestige Car Boutique è nata nel 2023 con la passione di offrire le migliori auto di
                    lusso
                    nuove e usate
                    in Italia. Da allora, siamo diventati un punto di riferimento per chi cerca supercar, hypercar e
                    vetture
                    di altissimo livello.</p>
                <p class="p-2">Con oltre 300 veicoli disponibili nelle nostre sedi, Prestige Car Boutique è in
                    grado di
                    soddisfare ogni
                    tua esigenza. Esplora la nostra vasta collezione di auto nuove e usate dei marchi più rinomati, come
                    Rolls Royce, Bentley, Lamborghini, Ferrari e molti altri.</p>
                <p class="p-2 mb-3">Siamo cresciuti costantemente negli anni, diventando uno dei principali
                    distributori
                    di
                    auto di lusso in
                    Italia. Lascia che la tua passione per le auto di prestigio diventi realtà presso Prestige
                    Car Boutique.</p>
            </div>
            <div class="row w-lg-75 w-100 d-flex justify-content-center">
                <div class="w-75 w-lg-50 d-flex justify-content-center p-3">
                    <button class="btnInventory text-white" [routerLink]="['/inventory']" routerLinkActive="active">Vedi
                        inventario</button>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center p-5">
        <a [routerLink]="['/']" fragment="veicoliInPrimoPiano" class="btn btnInventory p-3" id="arrow">
            <p>Back to top</p><i class="bi bi-arrow-up text-white p-3"></i>
        </a>
    </div>
    <!--ALERT-->
    <div id="customAlert" class="modal">
        <div class="modal-content">
          <span class="close-btn" (click)="closeCustomAlert()">&times;</span>
          <p class="p-3 m-0">Ci dispiace, ma questo servizio è accessibile solo agli utenti loggati</p>
          <button class="btn text-black m-3 p-1 w-25 mx-auto" (click)="closeCustomAlert()">OK</button>
        </div>
      </div>
</section>