section {
    font-family: "Caviar Dreams";
    letter-spacing: 2px;
    font-size: 0.8rem;
}

img {
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 10px;
    border: 1px solid black;
}

.btn {
    font-size: 0.8rem;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: black;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: black;
    transition: 0.5s ease;
}

.btn:hover {
    color: white;
    transition-delay: 0.5s;
}

.btn:hover::before {
    width: 100%;
}

.btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: black;
    transition: 0.4s ease;
    z-index: -1;
}

.btn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
}


.spinner-overlay {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
  }
  
  .car-movement {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    animation: run linear infinite 8s;
   
    }
    @keyframes run {
     0% {
      left: 200px;
     }
     48% {
       transform: rotateY(0deg); 
     }
     50% { 
      left: calc(100% - 200px);
      transform: rotateY(180deg); 
     }
     98% {
      transform: rotateY(180deg); 
     }
     100% {
     left: 200px;    
     transform: rotateY(0deg);
     }
  }

  .imgSec{
    height: 19vh !important;
  }

  @media (max-width: 1440px) {
    .imgSec{
      height: 17vh !important;
    }
  }
  
  @media (max-width: 772px) {
    .imgSec{
      height: 6vh !important;
    }
  }